{
    email {$EMAIL_LETSENCRYPT}

    # HTTP/3 support
    servers {
        protocol {
            experimental_http3
        }
    }

    auto_https disable_redirects
}

route {
    root * /var/www/html

    php_fastcgi game:8190
    encode gzip zstd
    file_server
}
